body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    font-family:'Montserrat', sans-serif
}

.navbar {
    background: rgba(26, 137, 239, 0.88);
    padding: 10px;
}

.logo {
    height: 58px;
    width: auto;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #3873CA;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('images/pesawat.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 80vh;
}
.navbar-brand:hover {
    color: #3873CA;
}


#menu {
    background: rgba(26, 137, 239);
	height: 100%;
	position: sticky;
	top: 0px;
    z-index: 999;
}

.Pilih-tiket {
    padding-inline-end: 10%;
}

.page-footer {
    background-color: rgba(0, 25, 115, 1);
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: rgb(255, 255, 255);
    padding: 40px 0;
}

@media (max-width: 575.98px){
    .feature-title,
    h4,
    h6,
    p{
        margin: 10px;
    }
    .gamabarPayment {
        height: auto;
        width: 100%;
    }
    .header{
        height: 60vh;
    }
}