.countainer {
	width: 500px;
	background-color: lightgray;
	margin: 100px auto 0px auto;
	padding: 10px;
	border-radius: 5px;
}

.input {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	text-align: right;
	border: 1px solid black;
	outline: none;
}

.box {
	display: flex;
	flex-wrap: wrap;
}

.tombol {
	display: flex;
	width: 20%;
	height: 60px;
	border: 1px solid black;
	box-sizing: border-box;
	font-size: 25px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
}

.grow {
	flex-grow: 1;
}

.tombol:hover {
	background-color: white;
	cursor: pointer;
}